#life {
	position: relative;
    width: 100%;
    height: 100%;
    #testLife {
        position: relative;
        width: 100%;
        height: 1.4rem;
        font-size: 0.12rem;
        padding-top: 0.3rem;
        overflow: hidden;
        .container {
            width: 12.4rem;
            height: 100%;
            display: flex;
            .quickEntry {
                text-align: center;
                .quickEntryImg {
                    margin: 0 auto;
                    width: 0.7rem;
                    height: 0.7rem;
                }
                .quickEntryName {
                    width: 1.24rem;
                    font-size: 0.23rem;
                    color: #888;
                }
            }
        }
    }
}
