<div id="homeContent" data-role="Scroll" data-type="Y">
    <div class="container">
        <div class="homeTitle">
            <p class="dongchengFamily">东城世家</p>
            <p class="UHomeStation">U家小站</p>
            <img class="scanIt" src="./images/home/scanIt.png" alt="">
        </div>

        <div class="banner">
            <img class="bannerImg" src="./images/home/banner1.png" alt="">
        </div>

        <div id="quickEntryList" data-role="List" data-type="X">
            <div class="container" data-role="Container">

            </div>
        </div>
        <div class="banner2">
            <img class="banner2Img" src="./images/home/banner2.png" alt="" />
        </div>

        <div id="recommendedFruitsList" data-role="List" data-type="X">
            <div class="container" data-role="Container">

            </div>
        </div>

        <div class="FoodProgram">
            <img class="FoodProgramImg" src="./images/home/FoodProgram.png" alt="" />
        </div>

        <div class="Cheapfood">
            <img class="CheapfoodImg" src="./images/home/Cheapfood.png" alt="" />
        </div>

        <div id="recommendSpike">
            <div class="recommendSpike1">
                <img class="spike" src="./images/home/Spike.png" />
            </div>
            <div class="recommendSpike2">
                <div class="recommendSpike3">
                    <img class="weekPackages" src="./images/home/WeekPackages.png" />
                </div>
                <div class="recommendSpike4">
                    <img class="summer" src="./images/home/summer.png" />
                    <img class="aprilFoolsDay" src="./images/home/AprilFoolsDay.png" />
                </div>
            </div>
        </div>

        <div id="recommendedFruitsList2" data-role="List" data-type="X">
            <div class="container" data-role="Container">
            </div>
        </div>
    </div>
</div>
