<div id="home">
    <div class="home_content">

    </div>
    <div class="home_tabbar">
        <div class="home_tabbar_item" data-id="home_tabbar_home">
            <img class="home_tabbar_icon" src="./images/navigate/home.png" />
            <p class="home_tabbar_label">首页</p>
        </div>
        <div class="home_tabbar_item" data-id="home_tabbar_life">
            <img class="home_tabbar_icon" src="./images/navigate/life.png" />
            <p class="home_tabbar_label">U生活</p>
        </div>
        <div class="home_tabbar_lock" data-id="home_tabbar_lock">
            <img class="home_tabbar_icon" src="./images/navigate/lock.png" />
        </div>
        <div class="home_tabbar_item" data-id="home_tabbar_neighbor">
            <img class="home_tabbar_icon" src="./images/navigate/neighbor.png" />
            <p class="home_tabbar_label">邻居说</p>
        </div>
        <div class="home_tabbar_item" data-id="home_tabbar_personal">
            <img class="home_tabbar_icon" src="./images/navigate/personal.png" />
            <p class="home_tabbar_label">我的</p>
        </div>
    </div>
</div>
