<div id="life">
    <div id="testLife" data-role="Waterfall" data-type="Y">
        <div class="container" data-role="Container">
            <div class="pullDown">
                <span class="pullDownIcon"></span>
                <span class="pullDownLabel">Pull down to refresh...</span>
            </div>
            <ul class="thelist">
            </ul>
            <div class="pullUp">
                <span class="pullUpIcon"></span>
                <span class="pullUpLabel">Pull up to refresh...</span>
            </div>
        </div>
    </div>
</div>
