<div id="neighbor" data-role="Scroll" data-type="Y">
    <div class="container">
        <div class="banner3">
            <img class="banner3Img" src="./images/home/banner2.png" alt="" />
        </div>
        <div class="banner3">
            <img class="banner3Img" src="./images/home/banner2.png" alt="" />
        </div>
        <div class="banner3">
            <img class="banner3Img" src="./images/home/banner2.png" alt="" />
        </div>
        <div class="banner3">
            <img class="banner3Img" src="./images/home/banner2.png" alt="" />
        </div>
        <div class="banner3">
            <img class="banner3Img" src="./images/home/banner2.png" alt="" />
        </div>
        <div class="banner3">
            <img class="banner3Img" src="./images/home/banner2.png" alt="" />
        </div>
        <div class="banner3">
            <img class="banner3Img" src="./images/home/banner2.png" alt="" />
        </div>
        <div class="banner3">
            <img class="banner3Img" src="./images/home/banner2.png" alt="" />
        </div>
        <div class="banner3">
            <img class="banner3Img" src="./images/home/banner2.png" alt="" />
        </div>
        <div class="banner3">
            <img class="banner3Img" src="./images/home/banner2.png" alt="" />
        </div>
    </div>
</div>
